<html>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <head>
    <title> Test </title>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Testing for Google Plus OAuth 2.0 with Node JS
         to implement a login web page.</h1></br>
      <p>Login or Register with:</p>
      <a href="/oauth" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
  </body>

  <script>
  </script>


</html>
