<html>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <head>
    <title> Test </title>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Testing for Google Plus OAuth 2.0 with Node JS
         to implement a login web page.</h1></br>
      <p>Login successfully!</p>
    </div>
    <div class="well">
      <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
        <p>
          <strong>user id</strong>:<%= user.user_id %></br>
          <strong>user tokenr</strong>:<%= user.user_google_token %></br>
          <strong>user name</strong>:<%= user.user_name %></br>
          <strong>user email</strong>:<%= user.user_email %></br>
        </p>
    </div>
  </body>

</html>
